/* Styles pour la page d'Inscription (Multi-étapes) */

.step-transition {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hidden-step {
    display: none;
    opacity: 0;
    transform: translateY(10px);
}

.active-step {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
