<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe oublié - IFRI MentorLink</title>

    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<div class="page">

    <!-- Partie gauche -->
    <div class="left-side">

        <div class="logo-section">
            <h1>IFRI_MentorLink</h1>
            <span class="line"></span>
        </div>

        <div class="card">

            <div class="icon-circle">
                <i class="fa-solid fa-unlock-keyhole"></i>
            </div>

            <h2>Mot de passe oublié?</h2>

            <p>
                Entrez votre email, on vous envoie un lien
            </p>

            <form id="forgotForm">

                <label>ADRESSE EMAIL</label>

                <div class="input-group">
                    <i class="fa-regular fa-envelope"></i>

                    <input
                        type="email"
                        placeholder="exemple@uac.bj"
                        required>
                </div>

                <button type="submit">
                    Envoyer le lien
                    <i class="fa-solid fa-paper-plane"></i>
                </button>

            </form>

            <a href="#" class="back-link">
                <i class="fa-solid fa-arrow-left"></i>
                Retour à la connexion
            </a>

            <div class="bottom-bar"></div>

        </div>

        <div class="school">
            <i class="fa-solid fa-graduation-cap"></i>
            INSTITUT DE FORMATION ET DE RECHERCHE EN INFORMATIQUE
        </div>

    </div>

    <!-- Partie droite -->
    <div class="right-side">
        <div class="overlay"></div>
    </div>

</div>

<script src="script.js"></script>

</body>
</html>